.root:global(.__wab_instance) {
  position: relative;
}
.freeBox__jVsK {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__jVsK > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__jVsK > :global(.__wab_flex-container) > *,
.freeBox__jVsK > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__jVsK > :global(.__wab_flex-container) > picture > img,
.freeBox__jVsK
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.freeBox__zaIcm {
  display: flex;
  flex-direction: row;
}
.freeBox__cYIjz {
  display: flex;
  position: relative;
}
.slotTargetChildren {
  font-size: 18px;
  font-weight: 700;
  text-align: left;
  color: var(--token-NEon4Y--Z);
}
.slotTargetSlot {
  text-align: left;
}
.svg__xevRa {
  width: 16px;
  height: 16px;
  position: relative;
  object-fit: cover;
}
