.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: auto;
  position: relative;
  min-width: 0;
  padding: 32px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-left: calc(0px - 0px);
  width: calc(100% + 0px);
  margin-top: calc(0px - 32px);
  height: calc(100% + 32px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-left: 0px;
  margin-top: 32px;
}
.freeBox__abLWi {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-23KZubgvQQ3f);
}
.freeBox__xapl {
  width: 100%;
  height: auto;
  max-width: var(--token-gVIr-zrFeZvP);
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__xapl > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: space-between;
  min-width: 0;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__xapl > :global(.__wab_flex-container) > *,
.freeBox__xapl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__xapl > :global(.__wab_flex-container) > picture > img,
.freeBox__xapl
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xapl {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xapl > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__xapl > :global(.__wab_flex-container) > *,
  .freeBox__xapl > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__xapl > :global(.__wab_flex-container) > picture > img,
  .freeBox__xapl
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__gt9Rd {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 128px;
  flex-shrink: 0;
}
.freeBox__gt9Rd > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox__gt9Rd > :global(.__wab_flex-container) > *,
.freeBox__gt9Rd > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gt9Rd > :global(.__wab_flex-container) > picture > img,
.freeBox__gt9Rd
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
.iconLink__xrM3H:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__kyKr {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.freeBox__eOhMf {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__m6Ad2 {
  color: var(--token-OsZF7YfpxYc4);
  font-size: 14px;
}
.root .link__m6Ad2:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.text__stGsj {
  position: relative;
  font-size: 14px;
  color: var(--token-OsZF7YfpxYc4);
}
.link__z13Xn {
  position: relative;
  color: var(--token-OsZF7YfpxYc4);
  font-size: 14px;
}
.root .link__z13Xn:hover {
  text-decoration-line: underline;
  color: var(--token-NEon4Y--Z);
}
.freeBox__gWs9B {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__gWs9B > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-end;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
}
.freeBox__gWs9B > :global(.__wab_flex-container) > *,
.freeBox__gWs9B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gWs9B > :global(.__wab_flex-container) > picture > img,
.freeBox__gWs9B
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gWs9B {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gWs9B > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 32px);
    height: calc(100% + 32px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gWs9B > :global(.__wab_flex-container) > *,
  .freeBox__gWs9B > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__gWs9B > :global(.__wab_flex-container) > picture > img,
  .freeBox__gWs9B
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 32px;
  }
}
.freeBox__hKMug {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__hKMug > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__hKMug > :global(.__wab_flex-container) > *,
.freeBox__hKMug > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__hKMug > :global(.__wab_flex-container) > picture > img,
.freeBox__hKMug
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__c3R1B {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__nO0Lm {
  font-size: 14px;
  position: relative;
  color: var(--token-OsZF7YfpxYc4);
}
.root .link__nO0Lm:hover {
  color: var(--token-NEon4Y--Z);
}
.link__opDil {
  position: relative;
  color: var(--token-OsZF7YfpxYc4);
  font-size: 14px;
}
.root .link__opDil:hover {
  color: var(--token-NEon4Y--Z);
}
.link___56ROa {
  position: relative;
  color: var(--token-OsZF7YfpxYc4);
  font-size: 14px;
}
.root .link___56ROa:hover {
  color: var(--token-NEon4Y--Z);
}
.link__gGnPo {
  position: relative;
  color: var(--token-OsZF7YfpxYc4);
  font-size: 14px;
}
.root .link__gGnPo:hover {
  color: var(--token-NEon4Y--Z);
}
.link__y34Yx {
  position: relative;
  color: var(--token-OsZF7YfpxYc4);
  font-size: 14px;
}
.root .link__y34Yx:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__z8Wot {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__z8Wot > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__z8Wot > :global(.__wab_flex-container) > *,
.freeBox__z8Wot > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__z8Wot > :global(.__wab_flex-container) > picture > img,
.freeBox__z8Wot
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__bBf2O {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__oiMzP {
  position: relative;
  color: var(--token-OsZF7YfpxYc4);
  font-size: 14px;
}
.root .link__oiMzP:hover {
  color: var(--token-NEon4Y--Z);
}
.link__wDgA {
  position: relative;
  color: var(--token-OsZF7YfpxYc4);
  font-size: 14px;
}
.root .link__wDgA:hover {
  color: var(--token-NEon4Y--Z);
}
.link__mSq7Y {
  position: relative;
  color: var(--token-OsZF7YfpxYc4);
  font-size: 14px;
}
.root .link__mSq7Y:hover {
  color: var(--token-NEon4Y--Z);
}
.link__rNk3G {
  position: relative;
  color: var(--token-OsZF7YfpxYc4);
  font-size: 14px;
}
.root .link__rNk3G:hover {
  color: var(--token-NEon4Y--Z);
}
.link___7CuUj {
  position: relative;
  color: var(--token-OsZF7YfpxYc4);
  font-size: 14px;
}
.root .link___7CuUj:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__rVlkz {
  display: flex;
  flex-direction: column;
  width: 150px;
  flex-shrink: 0;
}
.freeBox__rVlkz > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__rVlkz > :global(.__wab_flex-container) > *,
.freeBox__rVlkz > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__rVlkz > :global(.__wab_flex-container) > picture > img,
.freeBox__rVlkz
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__quMMt {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.link__mBFi {
  position: relative;
  color: var(--token-OsZF7YfpxYc4);
  font-size: 14px;
}
.root .link__mBFi:hover {
  color: var(--token-NEon4Y--Z);
}
.link__ztCon {
  position: relative;
  color: var(--token-OsZF7YfpxYc4);
  font-size: 14px;
}
.root .link__ztCon:hover {
  color: var(--token-NEon4Y--Z);
}
.link__mgcne {
  position: relative;
  color: var(--token-OsZF7YfpxYc4);
  font-size: 14px;
}
.root .link__mgcne:hover {
  color: var(--token-NEon4Y--Z);
}
.link__u4Nmm {
  position: relative;
  color: var(--token-OsZF7YfpxYc4);
  font-size: 14px;
}
.root .link__u4Nmm:hover {
  color: var(--token-NEon4Y--Z);
}
.link__h3Iu {
  position: relative;
  color: var(--token-OsZF7YfpxYc4);
  font-size: 14px;
}
.root .link__h3Iu:hover {
  color: var(--token-NEon4Y--Z);
}
.freeBox__sfiZ1 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 200px;
  flex-shrink: 0;
}
.freeBox__sfiZ1 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 8px);
  height: calc(100% + 8px);
}
.freeBox__sfiZ1 > :global(.__wab_flex-container) > *,
.freeBox__sfiZ1 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__sfiZ1 > :global(.__wab_flex-container) > picture > img,
.freeBox__sfiZ1
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 8px;
}
.text__nklmm {
  position: relative;
  font-weight: 500;
  font-size: 16px;
}
.text__hzClu {
  position: relative;
  font-size: 14px;
  color: var(--token-OsZF7YfpxYc4);
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__gMxin {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__deoy4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: var(--token-p-fCTrfjtL4);
  height: 1em;
}
.svg__tEdEk {
  position: relative;
  object-fit: cover;
  width: 12px;
  height: 12px;
  color: var(--token-p-fCTrfjtL4);
}
.svg__n5BO {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.freeBox___8Y7Yz {
  display: block;
  position: relative;
  width: 100%;
  height: 1px;
  min-width: 0;
  flex-shrink: 0;
  border: 1px solid var(--token-23KZubgvQQ3f);
}
.freeBox__uvVsT {
  width: 100%;
  height: auto;
  max-width: var(--token-gVIr-zrFeZvP);
  display: flex;
  position: relative;
  flex-direction: row;
  left: auto;
  top: auto;
  min-width: 0;
}
.freeBox__uvVsT > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uvVsT {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uvVsT > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__uvVsT > :global(.__wab_flex-container) > *,
  .freeBox__uvVsT > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__uvVsT > :global(.__wab_flex-container) > picture > img,
  .freeBox__uvVsT
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.freeBox__kOshm {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
}
.link__faNrJ {
  position: relative;
  color: var(--token-OsZF7YfpxYc4);
  height: auto;
  font-size: 14px;
}
.root .link__faNrJ:hover {
  text-decoration-line: underline;
}
.link__vRHx {
  position: relative;
  color: var(--token-OsZF7YfpxYc4);
  font-size: 14px;
}
.root .link__vRHx:hover {
  text-decoration-line: underline;
}
.text__x8PQ6 {
  position: relative;
  height: auto;
  width: auto;
  font-size: 14px;
  color: var(--token-OsZF7YfpxYc4);
}
.freeBox__laUqh {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__laUqh > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 16px);
  width: calc(100% + 16px);
}
.freeBox__laUqh > :global(.__wab_flex-container) > *,
.freeBox__laUqh > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__laUqh > :global(.__wab_flex-container) > picture > img,
.freeBox__laUqh
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 16px;
}
.iconLink__vAc7N:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__nGc2A {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__nGc2A:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__zIdl:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__ral {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__ral:hover {
  color: var(--token-dph1wZ7NjV9);
}
.iconLink__uc7Rq:global(.__wab_instance) {
  position: relative;
  flex-shrink: 0;
}
.svg__dqbzH {
  position: relative;
  object-fit: cover;
  color: var(--token-vaTuh5tFL3B);
  width: 32px;
  height: 32px;
}
.root .svg__dqbzH:hover {
  color: var(--token-dph1wZ7NjV9);
}
