.root {
  display: flex;
  width: 100%;
  height: auto;
  position: relative;
  justify-content: space-between;
  background: var(--token-dph1wZ7NjV9);
  min-width: 0;
  border-radius: 5px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.freeBox___8Nxvy {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 60%;
  max-width: var(--token-gVIr-zrFeZvP);
  padding: 64px 48px;
}
.freeBox___8Nxvy > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  margin-top: calc(0px - 16px);
  height: calc(100% + 16px);
}
.freeBox___8Nxvy > :global(.__wab_flex-container) > *,
.freeBox___8Nxvy > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___8Nxvy > :global(.__wab_flex-container) > picture > img,
.freeBox___8Nxvy
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 16px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8Nxvy {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___8Nxvy > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__iEAqt {
  position: relative;
  color: var(--token-rnYrMWD-a8or);
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
}
.text__cyQAa {
  position: relative;
  color: var(--token-TRf5pfsHwLE);
}
.freeBox__gkUec {
  display: flex;
  position: relative;
  flex-direction: row;
}
.freeBox__gkUec > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 8px);
  width: calc(100% + 8px);
}
.freeBox__gkUec > :global(.__wab_flex-container) > *,
.freeBox__gkUec > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__gkUec > :global(.__wab_flex-container) > picture > img,
.freeBox__gkUec
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gkUec {
    display: flex;
    flex-direction: column;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gkUec > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: flex-start;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__gkUec > :global(.__wab_flex-container) > *,
  .freeBox__gkUec > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__gkUec > :global(.__wab_flex-container) > picture > img,
  .freeBox__gkUec
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.textInput:global(.__wab_instance) {
  position: relative;
}
.svg__giQr6 {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__t80Nx {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button:global(.__wab_instance) {
  position: relative;
}
.svg__iiGdA {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__vgqsj {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.text__uiJh9 {
  position: relative;
  color: var(--token-vaTuh5tFL3B);
  font-size: 14px;
}
.freeBox__adfNv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  width: 40%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__adfNv {
    display: none;
  }
}
.svg {
  position: relative;
  object-fit: cover;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
