@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700%3B0%2C800%3B0%2C900&display=swap");

.plasmic_tokens {
  --token-23KZubgvQQ3f: rgb(234, 234, 234);
  --plasmic-token-divider: var(--token-23KZubgvQQ3f);
  --token-rnYrMWD-a8or: rgb(255, 255, 255);
  --plasmic-token-white: var(--token-rnYrMWD-a8or);
  --token-OsZF7YfpxYc4: #666666;
  --plasmic-token-text: var(--token-OsZF7YfpxYc4);
  --token-gVIr-zrFeZvP: 1104px;
  --plasmic-token-max-content-width: var(--token-gVIr-zrFeZvP);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-hmV_SBke5zrt_font-family: "Inter", sans-serif;
  --mixin-hmV_SBke5zrt_font-size: 18px;
  --mixin-hmV_SBke5zrt_font-weight: 400;
  --mixin-hmV_SBke5zrt_font-style: normal;
  --mixin-hmV_SBke5zrt_color: var(--token-OsZF7YfpxYc4);
  --mixin-hmV_SBke5zrt_text-align: left;
  --mixin-hmV_SBke5zrt_text-transform: none;
  --mixin-hmV_SBke5zrt_line-height: 1.5;
  --mixin-hmV_SBke5zrt_letter-spacing: normal;
  --mixin-hmV_SBke5zrt_white-space: pre-wrap;
  --mixin-hmV_SBke5zrt_user-select: text;
  --mixin-hmV_SBke5zrt_text-decoration-line: none;
  --mixin-hmV_SBke5zrt_text-overflow: clip;
  --mixin-c-8qWmMlb7B9_font-family: "Inter", sans-serif;
  --mixin-c-8qWmMlb7B9_color: #000000;
  --mixin-c-8qWmMlb7B9_font-size: 72px;
  --mixin-c-8qWmMlb7B9_font-weight: 900;
  --mixin-c-8qWmMlb7B9_letter-spacing: -4px;
  --mixin-c-8qWmMlb7B9_line-height: 1;
  --mixin-c-8qWmMlb7B9_white-space: pre-wrap;
  --mixin-yxbNsvLST3Pb_font-family: "Inter", sans-serif;
  --mixin-yxbNsvLST3Pb_color: #000000;
  --mixin-yxbNsvLST3Pb_font-size: 48px;
  --mixin-yxbNsvLST3Pb_font-weight: 700;
  --mixin-yxbNsvLST3Pb_letter-spacing: -1px;
  --mixin-yxbNsvLST3Pb_line-height: 1.1;
  --mixin-yxbNsvLST3Pb_white-space: pre-wrap;
  --mixin-E5tc9qOc74VT_font-family: "Inter", sans-serif;
  --mixin-E5tc9qOc74VT_color: #000000;
  --mixin-E5tc9qOc74VT_font-size: 32px;
  --mixin-E5tc9qOc74VT_font-weight: 600;
  --mixin-E5tc9qOc74VT_letter-spacing: -0.8px;
  --mixin-E5tc9qOc74VT_line-height: 1.2;
  --mixin-E5tc9qOc74VT_white-space: pre-wrap;
  --mixin-sjDCBJ2ZuBGB_font-family: "Inter", sans-serif;
  --mixin-sjDCBJ2ZuBGB_color: #000000;
  --mixin-sjDCBJ2ZuBGB_font-size: 24px;
  --mixin-sjDCBJ2ZuBGB_font-weight: 600;
  --mixin-sjDCBJ2ZuBGB_letter-spacing: -0.5px;
  --mixin-sjDCBJ2ZuBGB_line-height: 1.3;
  --mixin-sjDCBJ2ZuBGB_white-space: pre-wrap;
  --mixin-wfp0OxehO4UZ_font-family: "Inter", sans-serif;
  --mixin-wfp0OxehO4UZ_color: #000000;
  --mixin-wfp0OxehO4UZ_font-size: 20px;
  --mixin-wfp0OxehO4UZ_font-weight: 600;
  --mixin-wfp0OxehO4UZ_letter-spacing: -0.3px;
  --mixin-wfp0OxehO4UZ_line-height: 1.5;
  --mixin-wfp0OxehO4UZ_white-space: pre-wrap;
  --mixin-WLe5Jrhk5wLY_font-family: "Inter", sans-serif;
  --mixin-WLe5Jrhk5wLY_color: #000000;
  --mixin-WLe5Jrhk5wLY_font-size: 16px;
  --mixin-WLe5Jrhk5wLY_font-weight: 600;
  --mixin-WLe5Jrhk5wLY_line-height: 1.5;
  --mixin-WLe5Jrhk5wLY_white-space: pre-wrap;
  --mixin-VUf6_1bVsuMv_border-left-color: #dddddd;
  --mixin-VUf6_1bVsuMv_border-left-style: solid;
  --mixin-VUf6_1bVsuMv_border-left-width: 3px;
  --mixin-VUf6_1bVsuMv_color: #888888;
  --mixin-VUf6_1bVsuMv_padding-left: 10px;
  --mixin-VUf6_1bVsuMv_white-space: pre-wrap;
  --mixin-Ghqr2DFeRxtd_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-Ghqr2DFeRxtd_border-bottom-color: #dddddd;
  --mixin-Ghqr2DFeRxtd_border-bottom-style: solid;
  --mixin-Ghqr2DFeRxtd_border-bottom-width: 1px;
  --mixin-Ghqr2DFeRxtd_border-left-color: #dddddd;
  --mixin-Ghqr2DFeRxtd_border-left-style: solid;
  --mixin-Ghqr2DFeRxtd_border-left-width: 1px;
  --mixin-Ghqr2DFeRxtd_border-right-color: #dddddd;
  --mixin-Ghqr2DFeRxtd_border-right-style: solid;
  --mixin-Ghqr2DFeRxtd_border-right-width: 1px;
  --mixin-Ghqr2DFeRxtd_border-top-color: #dddddd;
  --mixin-Ghqr2DFeRxtd_border-top-style: solid;
  --mixin-Ghqr2DFeRxtd_border-top-width: 1px;
  --mixin-Ghqr2DFeRxtd_border-bottom-left-radius: 3px;
  --mixin-Ghqr2DFeRxtd_border-bottom-right-radius: 3px;
  --mixin-Ghqr2DFeRxtd_border-top-left-radius: 3px;
  --mixin-Ghqr2DFeRxtd_border-top-right-radius: 3px;
  --mixin-Ghqr2DFeRxtd_font-family: "Inconsolata";
  --mixin-Ghqr2DFeRxtd_padding-bottom: 1px;
  --mixin-Ghqr2DFeRxtd_padding-left: 4px;
  --mixin-Ghqr2DFeRxtd_padding-right: 4px;
  --mixin-Ghqr2DFeRxtd_padding-top: 1px;
  --mixin-Ghqr2DFeRxtd_white-space: pre-wrap;
  --mixin-w0Mz5Vl8XV4G_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-w0Mz5Vl8XV4G_border-bottom-color: #dddddd;
  --mixin-w0Mz5Vl8XV4G_border-bottom-style: solid;
  --mixin-w0Mz5Vl8XV4G_border-bottom-width: 1px;
  --mixin-w0Mz5Vl8XV4G_border-left-color: #dddddd;
  --mixin-w0Mz5Vl8XV4G_border-left-style: solid;
  --mixin-w0Mz5Vl8XV4G_border-left-width: 1px;
  --mixin-w0Mz5Vl8XV4G_border-right-color: #dddddd;
  --mixin-w0Mz5Vl8XV4G_border-right-style: solid;
  --mixin-w0Mz5Vl8XV4G_border-right-width: 1px;
  --mixin-w0Mz5Vl8XV4G_border-top-color: #dddddd;
  --mixin-w0Mz5Vl8XV4G_border-top-style: solid;
  --mixin-w0Mz5Vl8XV4G_border-top-width: 1px;
  --mixin-w0Mz5Vl8XV4G_border-bottom-left-radius: 3px;
  --mixin-w0Mz5Vl8XV4G_border-bottom-right-radius: 3px;
  --mixin-w0Mz5Vl8XV4G_border-top-left-radius: 3px;
  --mixin-w0Mz5Vl8XV4G_border-top-right-radius: 3px;
  --mixin-w0Mz5Vl8XV4G_font-family: "Inconsolata";
  --mixin-w0Mz5Vl8XV4G_padding-bottom: 3px;
  --mixin-w0Mz5Vl8XV4G_padding-left: 6px;
  --mixin-w0Mz5Vl8XV4G_padding-right: 6px;
  --mixin-w0Mz5Vl8XV4G_padding-top: 3px;
  --mixin-w0Mz5Vl8XV4G_white-space: pre-wrap;
  --mixin-rRlsRAwu_P33_display: flex;
  --mixin-rRlsRAwu_P33_flex-direction: column;
  --mixin-rRlsRAwu_P33_align-items: stretch;
  --mixin-rRlsRAwu_P33_justify-content: flex-start;
  --mixin-rRlsRAwu_P33_list-style-position: outside;
  --mixin-rRlsRAwu_P33_padding-left: 40px;
  --mixin-rRlsRAwu_P33_position: relative;
  --mixin-rRlsRAwu_P33_list-style-type: decimal;
  --mixin-rRlsRAwu_P33_white-space: pre-wrap;
  --mixin-qsscwoSsQ5wc_display: flex;
  --mixin-qsscwoSsQ5wc_flex-direction: column;
  --mixin-qsscwoSsQ5wc_align-items: stretch;
  --mixin-qsscwoSsQ5wc_justify-content: flex-start;
  --mixin-qsscwoSsQ5wc_list-style-position: outside;
  --mixin-qsscwoSsQ5wc_padding-left: 40px;
  --mixin-qsscwoSsQ5wc_position: relative;
  --mixin-qsscwoSsQ5wc_list-style-type: disc;
  --mixin-qsscwoSsQ5wc_white-space: pre-wrap;
}

.plasmic_mixins {
  --mixin-6Sqbq3fSY7GX_white-space: pre-wrap;
  --plasmic-mixin-card-heading_white-space: var(
    --mixin-6Sqbq3fSY7GX_white-space
  );
  --mixin-NyhDdeSdgS37_white-space: pre-wrap;
  --plasmic-mixin-centered-section-text_white-space: var(
    --mixin-NyhDdeSdgS37_white-space
  );
  --mixin-ZUwpHwv3Od4P_white-space: pre-wrap;
  --plasmic-mixin-subheader_white-space: var(--mixin-ZUwpHwv3Od4P_white-space);
  --mixin-9qwzrSyRBmfd_white-space: pre-wrap;
  --plasmic-mixin-footer-link_white-space: var(
    --mixin-9qwzrSyRBmfd_white-space
  );
  --mixin--mV2yVF9SdlK_white-space: pre-wrap;
  --plasmic-mixin-content_white-space: var(--mixin--mV2yVF9SdlK_white-space);
  --mixin-C0YWH2_yW2MW_white-space: pre-wrap;
  --plasmic-mixin-section_white-space: var(--mixin-C0YWH2_yW2MW_white-space);
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-hmV_SBke5zrt_font-family);
  font-size: var(--mixin-hmV_SBke5zrt_font-size);
  font-weight: var(--mixin-hmV_SBke5zrt_font-weight);
  font-style: var(--mixin-hmV_SBke5zrt_font-style);
  color: var(--mixin-hmV_SBke5zrt_color);
  text-align: var(--mixin-hmV_SBke5zrt_text-align);
  text-transform: var(--mixin-hmV_SBke5zrt_text-transform);
  line-height: var(--mixin-hmV_SBke5zrt_line-height);
  letter-spacing: var(--mixin-hmV_SBke5zrt_letter-spacing);
  white-space: var(--mixin-hmV_SBke5zrt_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  font-family: var(--mixin-c-8qWmMlb7B9_font-family);
  color: var(--mixin-c-8qWmMlb7B9_color);
  font-size: var(--mixin-c-8qWmMlb7B9_font-size);
  font-weight: var(--mixin-c-8qWmMlb7B9_font-weight);
  letter-spacing: var(--mixin-c-8qWmMlb7B9_letter-spacing);
  line-height: var(--mixin-c-8qWmMlb7B9_line-height);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-family: var(--mixin-yxbNsvLST3Pb_font-family);
  color: var(--mixin-yxbNsvLST3Pb_color);
  font-size: var(--mixin-yxbNsvLST3Pb_font-size);
  font-weight: var(--mixin-yxbNsvLST3Pb_font-weight);
  letter-spacing: var(--mixin-yxbNsvLST3Pb_letter-spacing);
  line-height: var(--mixin-yxbNsvLST3Pb_line-height);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-E5tc9qOc74VT_font-family);
  color: var(--mixin-E5tc9qOc74VT_color);
  font-size: var(--mixin-E5tc9qOc74VT_font-size);
  font-weight: var(--mixin-E5tc9qOc74VT_font-weight);
  letter-spacing: var(--mixin-E5tc9qOc74VT_letter-spacing);
  line-height: var(--mixin-E5tc9qOc74VT_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-sjDCBJ2ZuBGB_font-family);
  color: var(--mixin-sjDCBJ2ZuBGB_color);
  font-size: var(--mixin-sjDCBJ2ZuBGB_font-size);
  font-weight: var(--mixin-sjDCBJ2ZuBGB_font-weight);
  letter-spacing: var(--mixin-sjDCBJ2ZuBGB_letter-spacing);
  line-height: var(--mixin-sjDCBJ2ZuBGB_line-height);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-wfp0OxehO4UZ_font-family);
  color: var(--mixin-wfp0OxehO4UZ_color);
  font-size: var(--mixin-wfp0OxehO4UZ_font-size);
  font-weight: var(--mixin-wfp0OxehO4UZ_font-weight);
  letter-spacing: var(--mixin-wfp0OxehO4UZ_letter-spacing);
  line-height: var(--mixin-wfp0OxehO4UZ_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-WLe5Jrhk5wLY_font-family);
  color: var(--mixin-WLe5Jrhk5wLY_color);
  font-size: var(--mixin-WLe5Jrhk5wLY_font-size);
  font-weight: var(--mixin-WLe5Jrhk5wLY_font-weight);
  line-height: var(--mixin-WLe5Jrhk5wLY_line-height);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-VUf6_1bVsuMv_color);
  padding-left: var(--mixin-VUf6_1bVsuMv_padding-left);
  border-left: var(--mixin-VUf6_1bVsuMv_border-left-width)
    var(--mixin-VUf6_1bVsuMv_border-left-style)
    var(--mixin-VUf6_1bVsuMv_border-left-color);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-Ghqr2DFeRxtd_font-family);
  border-radius: var(--mixin-Ghqr2DFeRxtd_border-top-left-radius)
    var(--mixin-Ghqr2DFeRxtd_border-top-right-radius)
    var(--mixin-Ghqr2DFeRxtd_border-bottom-right-radius)
    var(--mixin-Ghqr2DFeRxtd_border-bottom-left-radius);
  padding: var(--mixin-Ghqr2DFeRxtd_padding-top)
    var(--mixin-Ghqr2DFeRxtd_padding-right)
    var(--mixin-Ghqr2DFeRxtd_padding-bottom)
    var(--mixin-Ghqr2DFeRxtd_padding-left);
  border-top: var(--mixin-Ghqr2DFeRxtd_border-top-width)
    var(--mixin-Ghqr2DFeRxtd_border-top-style)
    var(--mixin-Ghqr2DFeRxtd_border-top-color);
  border-right: var(--mixin-Ghqr2DFeRxtd_border-right-width)
    var(--mixin-Ghqr2DFeRxtd_border-right-style)
    var(--mixin-Ghqr2DFeRxtd_border-right-color);
  border-bottom: var(--mixin-Ghqr2DFeRxtd_border-bottom-width)
    var(--mixin-Ghqr2DFeRxtd_border-bottom-style)
    var(--mixin-Ghqr2DFeRxtd_border-bottom-color);
  border-left: var(--mixin-Ghqr2DFeRxtd_border-left-width)
    var(--mixin-Ghqr2DFeRxtd_border-left-style)
    var(--mixin-Ghqr2DFeRxtd_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-w0Mz5Vl8XV4G_font-family);
  border-radius: var(--mixin-w0Mz5Vl8XV4G_border-top-left-radius)
    var(--mixin-w0Mz5Vl8XV4G_border-top-right-radius)
    var(--mixin-w0Mz5Vl8XV4G_border-bottom-right-radius)
    var(--mixin-w0Mz5Vl8XV4G_border-bottom-left-radius);
  padding: var(--mixin-w0Mz5Vl8XV4G_padding-top)
    var(--mixin-w0Mz5Vl8XV4G_padding-right)
    var(--mixin-w0Mz5Vl8XV4G_padding-bottom)
    var(--mixin-w0Mz5Vl8XV4G_padding-left);
  border-top: var(--mixin-w0Mz5Vl8XV4G_border-top-width)
    var(--mixin-w0Mz5Vl8XV4G_border-top-style)
    var(--mixin-w0Mz5Vl8XV4G_border-top-color);
  border-right: var(--mixin-w0Mz5Vl8XV4G_border-right-width)
    var(--mixin-w0Mz5Vl8XV4G_border-right-style)
    var(--mixin-w0Mz5Vl8XV4G_border-right-color);
  border-bottom: var(--mixin-w0Mz5Vl8XV4G_border-bottom-width)
    var(--mixin-w0Mz5Vl8XV4G_border-bottom-style)
    var(--mixin-w0Mz5Vl8XV4G_border-bottom-color);
  border-left: var(--mixin-w0Mz5Vl8XV4G_border-left-width)
    var(--mixin-w0Mz5Vl8XV4G_border-left-style)
    var(--mixin-w0Mz5Vl8XV4G_border-left-color);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-rRlsRAwu_P33_display);
  flex-direction: var(--mixin-rRlsRAwu_P33_flex-direction);
  align-items: var(--mixin-rRlsRAwu_P33_align-items);
  justify-content: var(--mixin-rRlsRAwu_P33_justify-content);
  list-style-position: var(--mixin-rRlsRAwu_P33_list-style-position);
  padding-left: var(--mixin-rRlsRAwu_P33_padding-left);
  position: var(--mixin-rRlsRAwu_P33_position);
  list-style-type: var(--mixin-rRlsRAwu_P33_list-style-type);
  flex-column-gap: var(--mixin-rRlsRAwu_P33_flex-column-gap);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-qsscwoSsQ5wc_display);
  flex-direction: var(--mixin-qsscwoSsQ5wc_flex-direction);
  align-items: var(--mixin-qsscwoSsQ5wc_align-items);
  justify-content: var(--mixin-qsscwoSsQ5wc_justify-content);
  list-style-position: var(--mixin-qsscwoSsQ5wc_list-style-position);
  padding-left: var(--mixin-qsscwoSsQ5wc_padding-left);
  position: var(--mixin-qsscwoSsQ5wc_position);
  list-style-type: var(--mixin-qsscwoSsQ5wc_list-style-type);
  flex-column-gap: var(--mixin-qsscwoSsQ5wc_flex-column-gap);
}
