.root {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  min-width: 0;
  min-height: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .root {
    width: 100%;
    height: 100%;
    min-width: 0;
    min-height: 0;
  }
}
.header:global(.__wab_instance) {
  position: relative;
}
.section:global(.__wab_instance) {
  position: relative;
}
.freeBox__qaqSu {
  width: 100%;
  height: auto;
  max-width: var(--token-gVIr-zrFeZvP);
  display: flex;
  flex-direction: column;
  min-width: 0;
}
.freeBox__qaqSu > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  margin-top: calc(0px - 64px);
  height: calc(100% + 64px);
}
.freeBox__qaqSu > :global(.__wab_flex-container) > *,
.freeBox__qaqSu > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__qaqSu > :global(.__wab_flex-container) > picture > img,
.freeBox__qaqSu
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 64px;
}
.columns__tzEg9 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  flex-shrink: 1;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns__tzEg9 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns__tzEg9 > :global(.__wab_flex-container) > *,
.columns__tzEg9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__tzEg9 > :global(.__wab_flex-container) > picture > img,
.columns__tzEg9
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns__tzEg9 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__tzEg9 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tzEg9 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    flex-shrink: 1;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tzEg9 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap-reverse;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tzEg9 > :global(.__wab_flex-container) > *,
  .columns__tzEg9 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__tzEg9 > :global(.__wab_flex-container) > picture > img,
  .columns__tzEg9
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__tzEg9 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column__gbPqA {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__gbPqA {
    width: 100%;
  }
}
.freeBox__oUkac {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__oUkac > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__oUkac > :global(.__wab_flex-container) > *,
.freeBox__oUkac > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__oUkac > :global(.__wab_flex-container) > picture > img,
.freeBox__oUkac
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oUkac {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oUkac > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__tpMzu {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text__gmxAe {
  position: relative;
  text-align: left;
}
.bullet__dLsuG:global(.__wab_instance) {
  position: relative;
}
.bullet__kizwW:global(.__wab_instance) {
  position: relative;
}
.bullet__hLfHk:global(.__wab_instance) {
  position: relative;
}
.text__an6N {
  position: relative;
  text-align: left;
}
.freeBox__n3Pil {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox__n3Pil > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox__n3Pil > :global(.__wab_flex-container) > *,
.freeBox__n3Pil > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__n3Pil > :global(.__wab_flex-container) > picture > img,
.freeBox__n3Pil
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__n3Pil {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__n3Pil > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__n3Pil > :global(.__wab_flex-container) > *,
  .freeBox__n3Pil > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__n3Pil > :global(.__wab_flex-container) > picture > img,
  .freeBox__n3Pil
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__dLaXl:global(.__wab_instance) {
  position: relative;
}
.svg__mhJ {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__qjv8O {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button___8HFz6:global(.__wab_instance) {
  position: relative;
}
.svg__ipSlh {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__iQqEo {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.column__xzbS7 {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column__xzbS7 {
    width: 100%;
  }
}
.img__ftb0M {
  position: relative;
  object-fit: cover;
  width: 100%;
  min-width: 0;
}
.img__ftb0M > picture > img {
  object-fit: cover;
}
.columns__rso6 {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  min-width: 0;
  --plsmc-rc-col-gap: 0px;
}
.columns__rso6 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  flex-wrap: nowrap;
  min-width: 0;
  margin-left: calc(0px - 32px);
  width: calc(100% + 32px);
  --plsmc-rc-col-gap: 32px;
}
.columns__rso6 > :global(.__wab_flex-container) > *,
.columns__rso6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.columns__rso6 > :global(.__wab_flex-container) > picture > img,
.columns__rso6
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 32px;
}
.columns__rso6 > :global(.__wab_flex-container) > :nth-child(2n + 1) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
.columns__rso6 > :global(.__wab_flex-container) > :nth-child(2n + 2) {
  width: calc((100% - 2 * var(--plsmc-rc-col-gap, 0px)) * 6 / 12);
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rso6 {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: auto;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rso6 > :global(.__wab_flex-container) {
    flex-direction: row;
    flex-wrap: wrap;
    min-width: 0;
    margin-top: calc(0px - 16px);
    height: calc(100% + 16px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rso6 > :global(.__wab_flex-container) > *,
  .columns__rso6 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .columns__rso6 > :global(.__wab_flex-container) > picture > img,
  .columns__rso6
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-top: 16px;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .columns__rso6 > :global(.__wab_flex-container) > :nth-child(1n + 1) {
    width: calc((100% - 1 * var(--plsmc-rc-col-gap, 0px)) * 12 / 12);
  }
}
.column___8O4Aq {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___8O4Aq {
    width: 100%;
  }
}
.img__kAopk {
  position: relative;
  object-fit: cover;
  width: 100%;
  align-self: flex-start;
  min-width: 0;
}
.img__kAopk > picture > img {
  object-fit: cover;
}
.column___6Kqvg {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 50%;
}
@media (min-width: 0px) and (max-width: 768px) {
  .column___6Kqvg {
    width: 100%;
  }
}
.freeBox__fbgFk {
  display: flex;
  position: relative;
  flex-direction: column;
}
.freeBox__fbgFk > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__fbgFk > :global(.__wab_flex-container) > *,
.freeBox__fbgFk > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fbgFk > :global(.__wab_flex-container) > picture > img,
.freeBox__fbgFk
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fbgFk {
    width: 100%;
    min-width: 0;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__fbgFk > :global(.__wab_flex-container) {
    min-width: 0;
  }
}
.text__vjPj {
  font-size: 32px;
  font-weight: 700;
  color: var(--token-NEon4Y--Z);
  position: relative;
  text-align: left;
}
.text___9NFDr {
  position: relative;
  text-align: left;
}
.bullet__vWUoZ:global(.__wab_instance) {
  position: relative;
}
.bullet__vl7Tg:global(.__wab_instance) {
  position: relative;
}
.bullet___9QBcB:global(.__wab_instance) {
  position: relative;
}
.text__ix4C5 {
  position: relative;
  text-align: left;
}
.freeBox___9LgAq {
  display: flex;
  position: relative;
  flex-direction: row;
  margin-top: calc(16px + 12px) !important;
}
.freeBox___9LgAq > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: stretch;
  justify-content: flex-start;
  margin-left: calc(0px - 20px);
  width: calc(100% + 20px);
}
.freeBox___9LgAq > :global(.__wab_flex-container) > *,
.freeBox___9LgAq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___9LgAq > :global(.__wab_flex-container) > picture > img,
.freeBox___9LgAq
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 20px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9LgAq {
    display: flex;
    flex-direction: column;
    margin-top: calc(16px + 12px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9LgAq > :global(.__wab_flex-container) {
    flex-direction: column;
    align-items: center;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
    margin-top: calc(0px - 8px);
    height: calc(100% + 8px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___9LgAq > :global(.__wab_flex-container) > *,
  .freeBox___9LgAq > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox___9LgAq > :global(.__wab_flex-container) > picture > img,
  .freeBox___9LgAq
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
    margin-top: 8px;
  }
}
.button__qU1Ys:global(.__wab_instance) {
  position: relative;
}
.svg__trXsp {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg__je6SO {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.button__nuXaK:global(.__wab_instance) {
  position: relative;
}
.svg__rvNtk {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.svg___2NehP {
  position: relative;
  object-fit: cover;
  width: 24px;
  height: 24px;
}
.homeCta:global(.__wab_instance) {
  position: relative;
}
.footer:global(.__wab_instance) {
  position: relative;
}
